<!-- Page Breadcrumb -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="rst-breadcrumb">
        <a href="#"><span>Home</span></a>
        <span>></span>
        <a href="#"><span>Cadastro de Usuário</span></a>
      </div>
    </div>
  </div>
</div>
<!-- End Page Breadcrumb -->

<!-- Section Register -->
<section id="rst-register-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <!-- Shortcodes -->
        <div class="rst-section-title rst-section-title-box ">
          <h4>Cadastre-se no nosso portal e tenha todos esses benefícios!</h4>
        </div>

        <h4>Como assinante do portal <b>Tudo Aqui Gospel</b>, você terá acesso a todos esses benefícios! <br> Não perca essa oportunidade! </h4>
        <!-- End Shortcodes -->
        <div class="row">
          <article class="col-sm-4 col-xs-6">
            <div class="rst-postpic">
              <a href="#"><%=  image_tag('curriculo.jpg') %></a>
            </div>
            <div class="rst-postinfo category-description">
              <p>Cadastre seus currículos para que possam ser vistos por nossas empresas parceiras</p>
            </div>
          </article>
          <article class="col-sm-4 col-xs-6">
            <div class="rst-postpic">
              <a href="#"><%=  image_tag('empregos.jpg') %></a>
            </div>
            <div class="rst-postinfo category-description">
              <p>Acesso em primeira mão à vagas de empregos disponibilizadas por nossas empresas parceiras.</p>
            </div>
          </article>
          <article class="col-sm-4 col-xs-6">
            <div class="rst-postpic">
              <a href="#"><%=  image_tag('descontos.jpg') %></a>
            </div>
            <div class="rst-postinfo category-description">
              <p>Descontos em estabelecimentos cadastrados</p>
            </div>
          </article>
        </div>
        <div class="row">
          <article class="col-sm-4 col-xs-6">
            <div class="rst-postpic">
              <a href="#"><%=  image_tag('estudo.jpg') %></a>
            </div>
            <div class="rst-postinfo category-description">
              <p>Material de estudo e diversas publicações disponibilizados por nossos colunistas em sua área de assinante.</p>
            </div>
          </article>
          <article class="col-sm-4 col-xs-6">
            <div class="rst-postpic">
              <a href="#"><%=  image_tag('promocoes.jpg') %></a>
            </div>
            <div class="rst-postinfo category-description">
              <p>Promoções exclusivas disponibilizadas por nossas empresas parceiras.</p>
            </div>
          </article>
          <article class="col-sm-4 col-xs-6">
            <div class="rst-postpic">
              <a href="#"><%=  image_tag('noticias.jpg') %></a>
            </div>
            <div class="rst-postinfo category-description">
              <p>Notícias de última hora do mundo Góspel.</p>
            </div>
          </article>
        </div>
        <div class="row">
          <div class="rst-section-title rst-section-title-box ">
            <h4>Todas essas vantagens por um preço acessível ao seu bolso.</h4>
          </div>
          <h1 class="price-sign-up">49,90<small> /mês</small></h1>
        </div>
      </div>
      <div class="col-sm-4">
        <aside class="widget widget_adv">
          <h3>Anúncios</h3>
          <% @ads_med.each do |ad| %>
            <%= link_to ad, class: 'photobox-170x170' do %>
              <%= image_tag ad.avatar(:medium) %>
            <% end %>
          <% end %>
          <div class="clear"></div>
        </aside>
      </div>
      <div class="col-sm-8">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="rst-section-title rst-section-title-box">
            <h4>Cadastre-se</h4>
          </div> <!-- end section title -->
          <div class="row">
            <div class="col-sm-6">
              <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'rst-pageinput' %>
              <%= check_box_tag "roles[]", 5, false, class: 'rst-pageinput'%>
              <%= f.label :roles, "Deseja ser nosso colunista?" %>
            </div>
            <div class="col-sm-6">
              <%= f.password_field :password, autocomplete: "off", placeholder: 'Senha', class: 'rst-pageinput' %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> caracteres no mínimo)</em>
              <% end %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirme a senha', class: 'rst-pageinput' %>
            </div>
            <div class="col-xs-12">
              <%= f.submit "Enviar", class: 'rst-pagebutton' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-sm-4">
        <%= form_for(resource, :as => resource_name, :url => session_path(:user)) do |f| %>
          <div class="rst-section-title rst-section-title-box">
            <h4>Login</h4>
          </div> <!-- end section title -->
          <%= f.email_field :email, autofocus: true, class: 'rst-pageinput' %>
          <%= f.password_field :password, autocomplete: "off", class: 'rst-pageinput' %>
          <%= f.submit "LOGIN", class: 'rst-pagebutton' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<!-- End Section Register -->
