<!-- Page Breadcrumb -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="rst-breadcrumb">
        <a href="#"><span>Home</span></a>
        <span>></span>
        <a href="#"><span>Publicação</span></a>
      </div>
    </div>
  </div>
</div>
<!-- End Page Breadcrumb -->

<!-- Section Register -->
<section id="rst-new-page">
  <div class="container">
    <div class="row">
      <%= form_for(publication) do |f| %>
        <% if publication.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

            <ul>
            <% publication.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="col-sm-8">
          <div class="rst-section-title rst-section-title-box">
            <h4>Novo publicação</h4>
          </div> <!-- end section title -->
          <div class="rst-newscontent">
            <div class="row">
              <div class="col-sm-6">
                <%= f.text_field :title, class: 'rst-pageinput', required: true, placeholder: "Título" %>
              </div>
              <div class="col-sm-6">
                <%= f.text_field :description, class: 'rst-pageinput', required: true, placeholder: "Descrição" %>
              </div>
              <div class="col-xs-12">
                <%= cktext_area :publication, :body, class: 'rst-pageinput', required: true, cols: 30, rows: 10, id: 'content' %>

                <p class="rst-grouptitle">Arquivos adicionais</p>

              </div>
              <div class="col-sm-6 col-xs-12">
                <span class="input-group-btn">
                  <span class="input-group-text"></span>
                  <span class="btn btn-primary btn-file">
                    <img src="../images/icon/addmedia.png" alt="" /><input type="file" multiple class="rst-pageinput"/>
                  </span>
                </span>
              </div>
              <div class="col-sm-6 col-xs-12">
                <span class="input-group-btn">
                  <span class="input-group-text"></span>
                  <span class="btn btn-primary btn-file">
                    <img src="../images/icon/addmedia.png" alt="" /><input type="file" multiple class="rst-pageinput"/>
                  </span>
                </span>
              </div>
              <div class="col-xs-12">
                <br>
                <%= f.submit 'PUBLICAR', class: 'rst-pagebutton' %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="rst-section-title rst-section-title-box">
            <h4>Selecione uma categoria</h4>
            <div class="rst-shortmenu">
              <a><i class="fa fa-angle-down"></i></a>
            </div>
          </div> <!-- end section title -->
          <div class="rst-new-cat">
            <%= f.select :knowledge_area, options_from_collection_for_select(KnowledgeArea.all, :id, :name), {}, class: 'rst-pageinput', required: true %>
          </div>
          <div class="rst-section-title rst-section-title-box">
            <h4>Selecione uma área</h4>
            <div class="rst-shortmenu">
              <a><i class="fa fa-angle-down"></i></a>
            </div>
          </div> <!-- end section title -->
          <div class="rst-new-cat">
            <%= f.select :pub_category, Publication.pub_categories.keys.map { |k| [k.humanize, k] }, {}, {class: 'rst-pageinput', required: true} %>
          </div>
          <div class="rst-previewimg">
            <div class="rst-section-title rst-section-title-box">
              <h4>Imagem de exibição</h4>
              <div class="rst-shortmenu">
                <a><i class="fa fa-angle-down"></i></a>
              </div>
            </div> <!-- end section title -->
            <input id="input-publication-image" class="rst-pagebutton" type="submit" value="SELECIONAR"/>
            <%= f.file_field :image, class: 'image-button', id: 'publication-image-button' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
