<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="rst-breadcrumb">
        <a href="#"><span>Home</span></a>
        <span>></span>
        <a href="#"><span>Publicação</span></a>
      </div>
    </div>
  </div>
</div>
<!-- End Page Breadcrumb -->

<!-- Category Banner -->
<section id="rst-catbanner-item">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="rst-catbanner-post">
          <div class="rst-mainslide">
            <% if @publication.image.present? %>
              <%= image_tag @publication.image.url(:normal) %>
            <% else %>
              <img src="../images/banner_normal.png" alt="" />
            <% end %>
            <div class="rst-boxinfo">
              <a><span><%= @publication.pub_category %></span></a>
              <p><a><%= @publication.description %></a></p>
              <time><i class="fa fa-clock-o"></i><%= @publication.created_at %></time>
            </div>
          </div>
        </div>
        <div class="rst-catbanner-listpost">
          <aside class="widget widget_adv">
            <% @ads_min.each do |ad| %>
              <%= link_to ad, class: 'photobox-170x170' do %>
                <%= image_tag ad.avatar(:medium) %>
              <% end %>
            <% end %>
            <div class="clear"></div>
          </aside>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</section>
<!-- End Category Banner -->

<!-- Category Page Content -->
<section id="rst-itemcontent">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="rst-section-title rst-section-title-box rst-item-content-title">
          <h2><%= @publication.title %></h2>
          <div class="rst-shortmenu">
            <p>
              <span class="rst-item-author">
                <% if @publication.author && @publication.author.columnist.present? %>
                  <b>POR</b>
                  <%= link_to columnist_path(@publication.author.columnist) do %>
                    <%= @publication.author.profile.name || @publication.author.email %>
                  <% end %>
                <% else %>
                  <%= @publication.author.profile.name || @publication.author.email %>
                <% end %>
              </span>
            </p>
          </div>
        </div>
        <div class="row">
          <article class="col-xs-12 rst-item-content">
            <%= @publication.body.html_safe %>
          </article>
          <div class="pub_attachments">
            <h2>Anexos</h2>
            <% @publication.pub_attachments.each do |attchment| %>
              <p>
                <%= link_to attchment.file.instance.file_file_name, attchment.file.url, target: '_blank' %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <br>
        <aside class="widget widget_popular">
          <ul>
            <li>
              <a href="#">Últimas notícias</a>
              <ul>
                <% @lastest_news.each do |news| %>
                  <li>
                    <article>
                      <div class="rst-postpic photobox-100x76">
                        <%= link_to news do %>
                          <%= image_tag news.image.url(:min) %>
                        <% end %>
                      </div>
                      <div class="rst-postinfo">
                        <h6>
                          <%= link_to news do %>
                            <%= news.title %>
                          <% end %>
                        </h6>
                        <time><i class="fa fa-clock-o"></i><%= news.created_at %></time>
                      </div>
                    </article>
                  </li>
                <% end %>
              </ul>
            </li>
          </ul>
        </aside>
        <br>
      </div>
    </div>
  </div>
</section>
