<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="rst-breadcrumb">
        <a href="#"><span>Home</span></a>
        <span>></span>
        <a href="#"><span>Alterar senha</span></a>
      </div>
    </div>
  </div>
</div>
<!-- End Page Breadcrumb -->

<!-- Section Register -->
<section id="rst-register-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>
          <div class="rst-section-title rst-section-title-box">
            <h4>Alterar senha</h4>
          </div> <!-- end section title -->
          <div class="row">
            <div class="col-sm-6">
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em><br />
              <% end %>
              <%= f.password_field :password, autofocus: true, placeholder: 'Nova Senha', class: 'rst-pageinput', autocomplete: "off" %>
            </div>
            <div class="col-sm-6">
              <%= f.password_field :password_confirmation, placeholder: 'Repita a nova senha', class: 'rst-pageinput', autocomplete: "off" %>
            </div>
            <div class="col-xs-12">
              <%= f.submit "Alterar senha", class: 'rst-pagebutton' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
