<!-- Page Breadcrumb -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="rst-breadcrumb">
        <a href="#"><span>Home</span></a>
        <span>></span>
        <a href="#"><span>Dados do Perfil ( Colunista )</span></a>
      </div>
    </div>
  </div>
</div>
<!-- End Page Breadcrumb -->

<!-- Section Register -->
<section id="rst-account-page">
  <div class="container">
    <div class="row">
      <%= form_for @columnist, url: columnists_update_path do |f| %>
        <div class="col-sm-8">
          <div class="rst-section-title rst-section-title-box">
            <h4>Dados do perfil</h4>
          </div> <!-- end section title -->
          <div class="rst-accsetting">
            <div class="rst-account-setting">
              <div class="rst-setting">
                <span><%= f.label :periodicity, "Peridiocidade dos Posts" %></span>
                <%= f.text_field :periodicity, value: @columnist.periodicity, class: 'rst-pageinput' %>
              </div>
              <div class="rst-setting">
                <span><%= f.label :sex, "Sexo" %></span>
                <label>
                  <%= f.radio_button :sex, 'F', checked: (@columnist.sex == 'F') %>
                  <%= f.label :sex, "Feminino" %> <br>
                  <%= f.radio_button :sex, 'M', checked: (@columnist.sex == 'M') %>
                  <%= f.label :sex, "Masculino" %>
                </label>
              </div>
              <div class="rst-setting">
                <span><%= f.label :birth_date, "Data de Nascimento" %></span>
                <%= f.date_select :birth_date,
                      order: [:day, :month, :year],
                      start_year: Date.today.year - 100,
                      end_year: Date.today.year - 17,
                      value: @columnist.birth_date,
                      class: 'rst-pageinput' %>
              </div>
              <div class="rst-setting">
                <%= f.hidden_field :admin_info, value: @columnist.admin_info %>
              </div>
              <div class="rst-setting">
                <%= f.hidden_field :admin_validate, value: @columnist.admin_validate %>
              </div>
              <%= f.submit "SALVAR ALTERAÇÕES", class: 'rst-pagebutton' %>
            </div>
            <div class="rst-account-img">
              <% if @columnist.avatar.present? %>
                <%= image_tag @columnist.avatar.url(:medium) %>
              <% else %>
                <img src="../images/user.png" alt="" />
              <% end %>
              <input id="input-avatar" class="rst-pagebutton" type="submit" value="ALTERAR"/>
              <%= f.file_field :avatar, class: 'image-button', id: 'image-button-avatar' %>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="rst-section-title rst-section-title-box">
              <h4>Ofertas</h4>
            </div> <!-- end section title -->
            <aside class="widget widget_adv">
              <% @ads_min.each do |ad| %>
                <%= link_to ad, class: 'photobox-170x170' do %>
                  <%= image_tag ad.avatar(:medium) %>
                <% end %>
              <% end %>
              <div class="clear"></div>
            </aside>
            <div class="clear"></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<!-- End Section Register -->
