<!-- Page Breadcrumb -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="rst-breadcrumb">
        <a href="#"><span>Home</span></a>
        <span>></span>
        <a href="#"><span>Cadastro de Colunista</span></a>
      </div>
    </div>
  </div>
</div>
<!-- End Page Breadcrumb -->

<!-- Section Register -->
<section id="rst-register-page">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <% user = User.new(session[:user_error]) || @user %>
        <% personal_profile = PersonalProfile.new(session[:profile_error]) || @personal_profile %>
        <% columnist = Columnist.new(session[:columnist_error]) || @columnist %>
        <% session[:user_error] = nil %>
        <% session[:profile_error] = nil %>
        <% session[:columnist_error] = nil %>
        <%= form_for user, :html => { :multipart => true }, :url => columnists_create_path(user), class: 'form-package' do |u| %>
            <%= fields_for personal_profile do |profile| %>
              <%= fields_for columnist do |a| %>
                <div class="rst-section-title rst-section-title-box">
                  <h4>Cadastro de Colunista</h4>
                </div> <!-- end section title -->
                <% if flash[:new_user_errors].present? %>
                  <div id="custom_error_explanation">
                    <h3>Por favor, corrija os seguintes erros</h3>

                    <ul>
                      <%= flash[:new_user_errors].html_safe %>
                    </ul>
                  </div>
                <% end %>
                <div class="rst-accsetting">
                  <div class="col-sm-6">
                      <!-- <% if columnist.avatar.present? %>
                        <%= image_tag columnist.avatar.url(:medium) %>
                      <% else %>
                        <img src="../images/user.png" alt="" />
                      <% end %>
                      <input id="input-avatar" class="rst-pagebutton" type="submit" value="INSERIR AVATAR"/>
                      <%= a.file_field :avatar, class: 'image-button', id: 'image-button-avatar', required: true %> -->
                      <div class="rst-setting">
                        <span><%= a.label :periodicity, "Peridiocidade dos Posts" %></span>
                        <%= a.text_field :periodicity, value: columnist.periodicity, class: 'rst-pageinput' %>
                      </div>
                      <div class="rst-setting">
                        <span><%= a.label :sex, "Sexo" %></span>
                        <label>
                          <%= a.radio_button :sex, 'F', checked: (columnist.sex == 'F') %>
                          <%= a.label :sex, "Feminino" %> <br>
                          <%= a.radio_button :sex, 'M', checked: (columnist.sex == 'M') %>
                          <%= a.label :sex, "Masculino" %>
                        </label>
                      </div>
                      <div class="rst-setting">
                        <span><%= a.label :birth_date, "Data de Nascimento" %></span>
                        <%= a.date_select :birth_date,
                              order: [:day, :month, :year],
                              start_year: Date.today.year - 100,
                              end_year: Date.today.year - 17,
                              value: columnist.birth_date,
                              class: 'rst-pageinput' %>
                      </div>
                      <div class="rst-setting">
                        <%= a.hidden_field :admin_info, value: columnist.admin_info %>
                      </div>
                      <div class="rst-setting">
                        <%= a.hidden_field :admin_validate, value: columnist.admin_validate %>
                      </div>
                    <div class="rst-setting">
                      <span><%= u.label :email, "Email" %></span>
                      <%= u.email_field :email, value: user.email, autofocus: true, class: 'rst-pageinput', required: true %>
                      <%= hidden_field_tag "roles[]", 5, class: 'rst-pageinput'%>
                    </div>
                    <div class="rst-setting">
                      <span><%= u.label :password, "Senha" %></span>
                      <%= u.password_field :password, value: user.password, autocomplete: "off", class: 'rst-pageinput', required: true %>
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> caracteres no mínimo)</em>
                      <% end %><br />
                    </div>
                    <div class="rst-setting">
                      <span><%= u.label :password_confirmation, "Confirmação de senha" %></span>
                      <%= u.password_field :password_confirmation, value: user.password_confirmation, autocomplete: "off", class: 'rst-pageinput', required: true %>
                    </div>
                    <div class="rst-setting">
                      <span><%= profile.label :name, "Nome de usuário" %></span>
                      <%= profile.text_field :name, value: personal_profile.name, class: 'rst-pageinput', required: true %>
                    </div>
                  </div>
                  <div class="col-sm-6">

                    <div class="rst-setting">
                      <span><%= profile.label :cpf, 'CPF do usuário' %></span>
                      <%= profile.text_field :cpf, value: personal_profile.cpf, class: 'rst-pageinput', required: true %>
                    </div>
                    <div class="rst-setting">
                      <span><%= profile.label :street, "Rua" %></span>
                      <%= profile.text_field :street, value: personal_profile.street, class: 'rst-pageinput', required: true %>
                    </div>
                    <div class="rst-setting">
                      <span><%= profile.label :street_number, "Número" %></span>
                      <%= profile.text_field :street_number, value: personal_profile.street_number, class: 'rst-pageinput', required: true %>
                    </div>
                    <div class="rst-setting">
                      <span><%= profile.label :complement, "Complemento" %></span>
                      <%= profile.text_field :complement, value: personal_profile.complement, class: 'rst-pageinput', required: true %>
                    </div>
                    <div class="rst-setting">
                      <span><%= profile.label :neighborhood, "Bairro" %></span>
                      <%= profile.text_field :neighborhood, value: personal_profile.neighborhood, class: 'rst-pageinput', required: true %>
                    </div>
                    <div class="rst-setting">
                      <span><%= profile.label :state, "Estado" %></span>
                      <%= profile.select(:state_id, [states_for_select], {selected: personal_profile.state_id}, { :class => 'rst-pageinput', required: true }) %>
                    </div>
                    <div class="rst-setting">
                      <span><%= profile.label :city, "Cidade" %></span>
                      <%= profile.grouped_collection_select(
                            :city_id,
                            State.all.includes(:cities),
                            :cities,
                            :name,
                            :id,
                            :name,
                            {selected: personal_profile.city_id || ''},
                            class: 'rst-pageinput',
                            required: true,
                            include_blank: true
                          )
                      %>
                    </div>
                    <div class="rst-setting">
                      <span><%= profile.label :zip_code, "CEP" %></span>
                      <%= profile.text_field :zip_code, value: personal_profile.zip_code, class: 'rst-pageinput', required: true %>
                      <%= hidden_field_tag :id, personal_profile.id %>
                    </div>
                  </div>
                  </div>
                </div>
              <% end %>
            <% end %>
            <div class="col-xs-12">
              <%= u.submit "Enviar", class: 'rst-pagebutton' %>
            </div>
        <% end %>
        <%= javascript_include_tag 'populate_city_select' %>
        <script type="text/javascript">
          jQuery(function($){
            $('#personal_profile_zip_code').inputmask('99.999-999', {greedy: false, clearIncomplete: true});
            $('#personal_profile_cpf').inputmask('999.999.999-99', {greedy: false, clearIncomplete: true});
          });
        </script>
      </div>
    </div>
  </div>
</section>
<!-- End Section Register -->
