<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="rst-breadcrumb">
        <a href="#"><span>Home</span></a>
        <span>></span>
        <a href="#"><span>Colunista</span></a>
      </div>
    </div>
  </div>
</div>
<section id="rst-catcontent-author">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="rst-section-title rst-section-title-box">
          <h4><%= @columnist.user.profile.name %></h4>
          <div class="rst-shortmenu">
            <span class="rst-authortitle"><%= @columnist.columnist_title %></span>
          </div>
        </div>
        <div class="rst-author-contact">
          <%= if @columnist.avatar.present?
                image_tag @columnist.avatar.url(:large)
              else
                image_tag ('user.png')
              end
            %>
          <div class="rst-author-contactinfo">
            <p>
              <a><i class="fa fa-mobile"></i> <span>+48 122 33 66</span></a>
              <a><i class="fa fa-paper-plane"></i> <span><%= @columnist.user.email %></span></a>
            </p>
          </div>
        </div>
        <div class="rst-section-title rst-section-title-box">
          <h4>Publicações de <%= @columnist.user.profile.name %></h4>
        </div>
        <div class="row rst-cat-postlist">
          <% @publications_show.each do |publication| %>
            <article class="col-sm-6 rst-catpost">
              <div class="rst-postpic photobox-370x370">
                <%= link_to publication do %>
                  <%= image_tag publication.image.url %>
                <% end %>
                <%= link_to publication, class: 'rst-postpic-cat' do %>
                  <span><%= publication.pub_category %></span>
                <% end %>
              </div>
              <div class="rst-postinfo">
                <%= link_to publication, class: 'rst-postpic-cat' do %>
                  <span><%= publication.pub_category %></span>
                <% end %>
                <h6>
                  <%= link_to publication do %>
                    <%= publication.title %>
                  <% end %>
                </h6>
                <time><i class="fa fa-clock-o"></i><%= publication.created_at %></time>
                <p><%= publication.description %></p>
              </div>
              <div class="clear"></div>
            </article>
          <% end %>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <nav class="wp-pagenavi t-bottom">
              <%= will_paginate @publications_show, class: 'page-numbers' %>
            </nav>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <aside class="widget widget_popular">
          <ul>
            <li>
              <a href="#">Últimas notícias</a>
              <ul>
                <% @lastest_news.each do |news| %>
                  <li>
                    <article>
                      <div class="rst-postpic photobox-100x76">
                        <%= link_to news do %>
                          <%= image_tag news.image.url(:min) %>
                        <% end %>
                      </div>
                      <div class="rst-postinfo">
                        <h6>
                          <%= link_to news do %>
                            <%= news.title %>
                          <% end %>
                        </h6>
                        <time><i class="fa fa-clock-o"></i><%= news.created_at %></time>
                      </div>
                    </article>
                  </li>
                <% end %>
              </ul>
            </li>
          </ul>
        </aside>
        <aside class="widget widget_adv">
          <h3>Anúncios</h3>
          <% @ads_min.each do |ad| %>
              <%= link_to ad, class: 'photobox-170x170' do %>
                <%= image_tag ad.avatar(:medium) %>
              <% end %>
          <% end %>
          <div class="clear"></div>
        </aside>
      </div>
    </div>
  </div>
</section>
