		<!-- Home Slider -->
		<section id="rst-home-mainslider">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="rst-mainslider owl-carousel">
							<div class="rst-mainslide">
                <%=  image_tag('slider/main.png') %>
								<div class="rst-boxinfo">
									<a href="#"><span>Empresa anúncio</span></a>
									<p><a href="#">Curabitur erat massa, rutrum sed fermentum in placerat.</a></p>
								</div>
							</div>
							<div class="rst-mainslide">
                <%=  image_tag('slider/main.png') %>
								<div class="rst-boxinfo">
									<a href="#"><span>Empresa anúncio</span></a>
									<p><a href="#">Curabitur erat massa, rutrum sed fermentum in placerat.</a></p>
								</div>
							</div>
						</div>
						<!-- fim slider -->
						<div class="rst-mainslider-posts">
							 <div class="rst-posttype">
                 <%=  image_tag('slider/category/hc01.jpg') %>
								<div class="rst-boxinfo">
									<a href="#"><span>Empresa anúncio</span></a>
									<p><a href="#">Curabitur erat massa, rutrum sed fermentum in placerat.</a></p>
								</div>
							 </div>
							 <div class="rst-posttype">
                <%=  image_tag('slider/category/hc02.jpg') %>
								<div class="rst-boxinfo">
									<a href="#"><span>Empresa anúncio</span></a>
									<p><a href="#">Curabitur erat massa, rutrum sed fermentum in placerat.</a></p>
								</div>
							 </div>
							 <div class="clear"></div>
						</div>
						<!-- fim anúncios menores -->
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</section>
		<!-- fim Main Slider -->

		<!-- versículos -->
		<div class="rst-pageline container">
			<div class="row">
				<div class="col-xs-12">
					<div class="rst-pageline-content">
						<span>Versículo</span>
						<div class="rst-pageline-slider owl-carousel">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a commodo sem, ut egestas.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a commodo sem, ut egestas.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- fim versículos -->

		<!-- Section last pub -->
		<section id="rst-popular">
			<div class="container">
				<div class="row">
					<div class="rst-section-title">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<h4>Últimas Publicações</h4>
								</div>
							</div>
						</div>
					</div>
					<article class="col-sm-3 col-xs-6">
						<div class="rst-postpic">
							<a href="#"><%=  image_tag('slider/category/po01.jpg') %></a>
							<a class="rst-postpic-cat" href="#"><span>Cat. Public.</span></a>
						</div>
						<div class="rst-postinfo">
							<h6><a href="#">Lorem ipsum dolor sit amet consectetur.</a></h6>
							<time><i class="fa fa-clock-o"></i>7 novembro, 2016</time>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
						</div>
					</article>
					<article class="col-sm-3 col-xs-6">
						<div class="rst-postpic">
							<a href="#"><%=  image_tag('slider/category/po02.jpg') %></a>
							<a class="rst-postpic-cat" href="#"><span>Cat. Public.</span></a>
						</div>
						<div class="rst-postinfo">
							<h6><a href="#">Lorem ipsum dolor sit amet consectetur.</a></h6>
							<time><i class="fa fa-clock-o"></i>7 novembro, 2016</time>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
						</div>
					</article>
					<article class="col-sm-3 col-xs-6">
						<div class="rst-postpic">
							<a href="#"><%=  image_tag('slider/category/po03.jpg') %></a>
							<a class="rst-postpic-cat" href="#"><span>Cat. Public.</span></a>
						</div>
						<div class="rst-postinfo">
							<h6><a href="#">Lorem ipsum dolor sit amet consectetur.</a></h6>
							<time><i class="fa fa-clock-o"></i>7 novembro, 2016</time>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
						</div>
					</article>
					<article class="col-sm-3 col-xs-6">
						<div class="rst-postpic">
							<a href="#"><%=  image_tag('slider/category/po04.jpg') %></a>
							<a class="rst-postpic-cat" href="#"><span>Cat. Public.</span></a>
						</div>
						<div class="rst-postinfo">
							<h6><a href="#">Lorem ipsum dolor sit amet consectetur.</a></h6>
							<time><i class="fa fa-clock-o"></i>7 novembro, 2016</time>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
						</div>
					</article>
				</div>
			</div>
		</section>
		<!-- fim Section last pub -->

		<!-- Section cat pub -->
		<section id="rst-life">
			<div class="container">
				<div class="row">
					<div class="rst-section-title rst-section-title-box">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<h4>Categorias de públicações</h4>
									<div class="rst-section-title-short">
										<a href="#"><span>Ver todos</span></a>
										<div class="rst-shortmenu">
											<a href="#"><i class="fa fa-bars"></i></a>
											<ul>
												<li><a href="#">Cat 1</a></li>
												<li><a href="#">Cat 2</a></li>
												<li><a href="#">Cat 3</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<article class="col-sm-6 rst-leftpost">
						<div class="rst-specpost owl-carousel">
							<a href="#"><%=  image_tag('slider/category/li01.jpg') %></a>
							<a href="#"><%=  image_tag('slider/category/li01.jpg') %></a>
							<a href="#"><%=  image_tag('slider/category/li01.jpg') %></a>
						</div>
						<div class="rst-postinfo">
							<h6><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h6>
							<time><i class="fa fa-clock-o"></i>7 novembro, 2016</time>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id libero vitae magna sollicitudin pulvinar vel et tellus. Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</p>
						</div>
					</article>
					<div class="col-sm-6 rst-rightpost">
						<article>
							<div class="rst-postpic">
								<a href="#"><%=  image_tag('slider/category/li02.jpg') %></a>
							</div>
							<div class="rst-postinfo">
								<h6><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h6>
								<time><i class="fa fa-clock-o"></i>7 novembro, 2016</time>
								<p>Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</p>
							</div>
						</article>
						<article>
							<div class="rst-postpic">
								<a href="#"><%=  image_tag('slider/category/li03.jpg') %></a>
							</div>
							<div class="rst-postinfo">
								<h6><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h6>
								<time><i class="fa fa-clock-o"></i>7 novembro, 2016</time>
								<p>Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</p>
							</div>
						</article>
						<article>
							<div class="rst-postpic">
								<a href="#"><%=  image_tag('slider/category/li04.jpg') %></a>
							</div>
							<div class="rst-postinfo">
								<h6><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h6>
								<time><i class="fa fa-clock-o"></i>7 novembro, 2016</time>
								<p>Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</p>
							</div>
						</article>
						<article>
							<div class="rst-postpic">
								<a href="#"><%=  image_tag('slider/category/li05.jpg') %></a>
							</div>
							<div class="rst-postinfo">
								<h6><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h6>
								<time><i class="fa fa-clock-o"></i>7 novembro, 2016</time>
								<p>Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</p>
							</div>
						</article>
					</div>
				</div>
			</div>
		</section>
		<!-- fim section cat pub -->

		<!-- Pageline -->
		<div class="rst-pageline container">
			<div class="row">
				<div class="col-xs-12">
					<div class="rst-pageline-content">
						<span>Versículo</span>
						<div class="rst-pageline-slider owl-carousel">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a commodo sem, ut egestas.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a commodo sem, ut egestas.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- fim pageline -->

		<!-- Section news -->
		<section id="rst-newsandhot">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<div class="rst-section-title">
							<h4>Anúncios</h4>
						</div>
						<div class="rst-newsandhot-post">
							<div class="rst-newsandhot-post-content">
								<article>
									<div class="row">
                    <div class="rst-postpic col-sm-6">
											<a href="#"><%=  image_tag('slider/category/new03.jpg') %></a>
											<a href="#" class="rst-postpic-cat"><span>Empresa anúncio</span></a>
										</div>
                    <div class="rst-postpic col-sm-6">
											<a href="#"><%=  image_tag('slider/category/new03.jpg') %></a>
											<a href="#" class="rst-postpic-cat"><span>Empresa anúncio</span></a>
										</div>
									</div>
								</article>
								<article>
									<div class="row">
										<div class="rst-postpic col-sm-6">
											<a href="#"><%=  image_tag('slider/category/new03.jpg') %></a>
											<a href="#" class="rst-postpic-cat"><span>Empresa anúncio</span></a>
										</div>
                    <div class="rst-postpic col-sm-6">
											<a href="#"><%=  image_tag('slider/category/new03.jpg') %></a>
											<a href="#" class="rst-postpic-cat"><span>Empresa anúncio</span></a>
										</div>
									</div>
								</article>
								<article>
									<div class="row">
                    <div class="rst-postpic col-sm-6">
											<a href="#"><%=  image_tag('slider/category/new03.jpg') %></a>
											<a href="#" class="rst-postpic-cat"><span>Empresa anúncio</span></a>
										</div>
                    <div class="rst-postpic col-sm-6">
											<a href="#"><%=  image_tag('slider/category/new03.jpg') %></a>
											<a href="#" class="rst-postpic-cat"><span>Empresa anúncio</span></a>
										</div>
									</div>
								</article>
								<article>
									<div class="row">
                    <div class="rst-postpic col-sm-6">
											<a href="#"><%=  image_tag('slider/category/new03.jpg') %></a>
											<a href="#" class="rst-postpic-cat"><span>Empresa anúncio</span></a>
										</div>
                    <div class="rst-postpic col-sm-6">
											<a href="#"><%=  image_tag('slider/category/new03.jpg') %></a>
											<a href="#" class="rst-postpic-cat"><span>Empresa anúncio</span></a>
										</div>
									</div>
								</article>
								<article>
									<div class="row">
                    <div class="rst-postpic col-sm-6">
											<a href="#"><%=  image_tag('slider/category/new03.jpg') %></a>
											<a href="#" class="rst-postpic-cat"><span>Empresa anúncio</span></a>
										</div>
                    <div class="rst-postpic col-sm-6">
											<a href="#"><%=  image_tag('slider/category/new03.jpg') %></a>
											<a href="#" class="rst-postpic-cat"><span>Empresa anúncio</span></a>
										</div>
									</div>
								</article>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<aside class="widget widget_popular">
							<h3>Notícias</h3>
							<div class="rst-hotnews owl-carousel">
								<ul>
									<li>
                    <article>
                      <div class="rst-postpic">
                        <a href="#"><%=  image_tag('slider/category/pol02.jpg') %></a>
                      </div>
                      <div class="rst-postinfo">
                        <p><a href="#">Lorem ipsum dolor sit amet consectetur.</a></p>
                        <time><i class="fa fa-clock-o"></i>7 novembro, 2016</time>
                      </div>
                    </article>
									</li>
									<li>
                    <article>
                      <div class="rst-postpic">
                        <a href="#"><%=  image_tag('slider/category/pol02.jpg') %></a>
                      </div>
                      <div class="rst-postinfo">
                        <p><a href="#">Lorem ipsum dolor sit amet consectetur.</a></p>
                        <time><i class="fa fa-clock-o"></i>7 novembro, 2016</time>
                      </div>
                    </article>
									</li>
									<li>
                    <article>
                      <div class="rst-postpic">
                        <a href="#"><%=  image_tag('slider/category/pol02.jpg') %></a>
                      </div>
                      <div class="rst-postinfo">
                        <p><a href="#">Lorem ipsum dolor sit amet consectetur.</a></p>
                        <time><i class="fa fa-clock-o"></i>7 novembro, 2016</time>
                      </div>
                    </article>
									</li>
									<li>
                    <article>
                      <div class="rst-postpic">
                        <a href="#"><%=  image_tag('slider/category/pol02.jpg') %></a>
                      </div>
                      <div class="rst-postinfo">
                        <p><a href="#">Lorem ipsum dolor sit amet consectetur.</a></p>
                        <time><i class="fa fa-clock-o"></i>7 novembro, 2016</time>
                      </div>
                    </article>
									</li>
									<li>
                    <article>
                      <div class="rst-postpic">
                        <a href="#"><%=  image_tag('slider/category/pol02.jpg') %></a>
                      </div>
                      <div class="rst-postinfo">
                        <p><a href="#">Lorem ipsum dolor sit amet consectetur.</a></p>
                        <time><i class="fa fa-clock-o"></i>7 novembro, 2016</time>
                      </div>
                    </article>
									</li>
									<li>
                    <article>
                      <div class="rst-postpic">
                        <a href="#"><%=  image_tag('slider/category/pol02.jpg') %></a>
                      </div>
                      <div class="rst-postinfo">
                        <p><a href="#">Lorem ipsum dolor sit amet consectetur.</a></p>
                        <time><i class="fa fa-clock-o"></i>7 novembro, 2016</time>
                      </div>
                    </article>
                  </li>
								</ul>
								<ul>
									<li>
                    <article>
                      <div class="rst-postpic">
                        <a href="#"><%=  image_tag('slider/category/pol02.jpg') %></a>
                      </div>
                      <div class="rst-postinfo">
                        <p><a href="#">Lorem ipsum dolor sit amet consectetur.</a></p>
                        <time><i class="fa fa-clock-o"></i>7 novembro, 2016</time>
                      </div>
                    </article>
                  </li>
									<li>
                    <article>
                      <div class="rst-postpic">
                        <a href="#"><%=  image_tag('slider/category/pol02.jpg') %></a>
                      </div>
                      <div class="rst-postinfo">
                        <p><a href="#">Lorem ipsum dolor sit amet consectetur.</a></p>
                        <time><i class="fa fa-clock-o"></i>7 novembro, 2016</time>
                      </div>
                    </article>
                  </li>
									<li>
                    <article>
                      <div class="rst-postpic">
                        <a href="#"><%=  image_tag('slider/category/pol02.jpg') %></a>
                      </div>
                      <div class="rst-postinfo">
                        <p><a href="#">Lorem ipsum dolor sit amet consectetur.</a></p>
                        <time><i class="fa fa-clock-o"></i>7 novembro, 2016</time>
                      </div>
                    </article>
                  </li>
									<li>
                    <article>
                      <div class="rst-postpic">
                        <a href="#"><%=  image_tag('slider/category/pol02.jpg') %></a>
                      </div>
                      <div class="rst-postinfo">
                        <p><a href="#">Lorem ipsum dolor sit amet consectetur.</a></p>
                        <time><i class="fa fa-clock-o"></i>7 novembro, 2016</time>
                      </div>
                    </article>
                  </li>
									<li>
                    <article>
                      <div class="rst-postpic">
                        <a href="#"><%=  image_tag('slider/category/pol02.jpg') %></a>
                      </div>
                      <div class="rst-postinfo">
                        <p><a href="#">Lorem ipsum dolor sit amet consectetur.</a></p>
                        <time><i class="fa fa-clock-o"></i>7 novembro, 2016</time>
                      </div>
                    </article>
                  </li>
									<li>
                    <article>
                      <div class="rst-postpic">
                        <a href="#"><%=  image_tag('slider/category/pol02.jpg') %></a>
                      </div>
                      <div class="rst-postinfo">
                        <p><a href="#">Lorem ipsum dolor sit amet consectetur.</a></p>
                        <time><i class="fa fa-clock-o"></i>7 novembro, 2016</time>
                      </div>
                    </article>
                  </li>
								</ul>
							</div>
						</aside>
						<!-- fim noticias e anuncios sec -->

						<aside class="widget widget_social">
							<h3>Social</h3>
							<a href="#" target="_blank">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="#" target="_blank">
								<i class="fa fa-twitter"></i>
							</a>
							<a href="#" target="_blank">
								<i class="fa fa-google-plus"></i>
							</a>
						</aside>
						<!-- end widget social -->

						<aside class="widget widget_adv">
							<h3>Nossos Colunistas</h3>
							<a href="#"><%=  image_tag('ad01.png') %></a>
							<a href="#"><%=  image_tag('ad01.png') %></a>
							<a href="#"><%=  image_tag('ad01.png') %></a>
							<a href="#"><%=  image_tag('ad01.png') %></a>
							<div class="clear"></div>
						</aside>
					</div>
				</div>
			</div>
		</section>
		<!-- End Section News and Hot -->

		<!-- Versículos -->
		<div class="rst-pageline container">
			<div class="row">
				<div class="col-xs-12">
					<div class="rst-pageline-content">
						<span>Versículos</span>
						<div class="rst-pageline-slider owl-carousel">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a commodo sem, ut egestas.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a commodo sem, ut egestas.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- fim Versículos -->

		<!-- Section curr e vagas -->
		<section id="rst-latestcomments">
			<div class="container">
        <!-- vagas -->
				<div class="row">
					<div class="col-xs-12">
						<div class="rst-section-title rst-section-title-box">
							<h4>Vagas de Emprego</h4>
						</div> <!-- fim section title -->
						<div class="row commentlist owl-carousel">
							<div class="col-sm-12 comment">
								<div class="comment-avatar">
									<%=  image_tag('slider/category/hm01.jpg') %>
								</div>
								<div class="comment-data">
									<a href="#" class="comment-author">Empresa</a>
									<span class="comment-time"><i class="fa fa-clock-o"></i>20 minutos atrás</span>
									<p class="comment-body">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
								</div>
							</div>
							<div class="col-sm-12 comment">
								<div class="comment-avatar">
									<%=  image_tag('slider/category/hm02.jpg') %>
								</div>
								<div class="comment-data">
									<a href="#" class="comment-author">Empresa</a>
									<span class="comment-time"><i class="fa fa-clock-o"></i>20 minutos atrás</span>
									<p class="comment-body">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
								</div>
							</div>
							<div class="col-sm-12 comment">
								<div class="comment-avatar">
									<%=  image_tag('slider/category/hm03.jpg') %>
								</div>
								<div class="comment-data">
									<a href="#" class="comment-author">Empresa</a>
									<span class="comment-time"><i class="fa fa-clock-o"></i>20 minutos atrás</span>
									<p class="comment-body">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
								</div>
							</div>
							<div class="col-sm-12 comment">
								<div class="comment-avatar">
									<%=  image_tag('slider/category/hm02.jpg') %>
								</div>
								<div class="comment-data">
									<a href="#" class="comment-author">Empresa</a>
									<span class="comment-time"><i class="fa fa-clock-o"></i>20 minutos atrás</span>
									<p class="comment-body">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
								</div>
							</div>
							<div class="col-sm-12 comment">
								<div class="comment-avatar">
									<%=  image_tag('slider/category/hm01.jpg') %>
								</div>
								<div class="comment-data">
									<a href="#" class="comment-author">Empresa</a>
									<span class="comment-time"><i class="fa fa-clock-o"></i>20 minutos atrás</span>
									<p class="comment-body">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
        <!-- fim vagas -->
        <!-- Currículos -->
        <div class="row">
					<div class="col-xs-12">
						<div class="rst-section-title rst-section-title-box">
							<h4>Currículos</h4>
						</div> <!-- end section title -->
						<div class="row commentlist owl-carousel">
							<div class="col-sm-12 comment">
								<div class="comment-avatar">
									<%=  image_tag('slider/category/hm01.jpg') %>
								</div>
								<div class="comment-data">
									<a href="#" class="comment-author">Nome Assinante</a>
									<span class="comment-time"><i class="fa fa-clock-o"></i>20 minutos atrás</span>
									<p class="comment-body">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
								</div>
							</div>
							<div class="col-sm-12 comment">
								<div class="comment-avatar">
									<%=  image_tag('slider/category/hm02.jpg') %>
								</div>
								<div class="comment-data">
									<a href="#" class="comment-author">Nome Assinante</a>
									<span class="comment-time"><i class="fa fa-clock-o"></i>20 minutos atrás</span>
									<p class="comment-body">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
								</div>
							</div>
							<div class="col-sm-12 comment">
								<div class="comment-avatar">
									<%=  image_tag('slider/category/hm03.jpg') %>
								</div>
								<div class="comment-data">
									<a href="#" class="comment-author">Nome Assinante</a>
									<span class="comment-time"><i class="fa fa-clock-o"></i>20 minutos atrás</span>
									<p class="comment-body">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
								</div>
							</div>
							<div class="col-sm-12 comment">
								<div class="comment-avatar">
									<%=  image_tag('slider/category/hm02.jpg') %>
								</div>
								<div class="comment-data">
									<a href="#" class="comment-author">Nome Assinante</a>
									<span class="comment-time"><i class="fa fa-clock-o"></i>20 minutos atrás</span>
									<p class="comment-body">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
								</div>
							</div>
							<div class="col-sm-12 comment">
								<div class="comment-avatar">
									<%=  image_tag('slider/category/hm01.jpg') %>
								</div>
								<div class="comment-data">
									<a href="#" class="comment-author">Nome Assinante</a>
									<span class="comment-time"><i class="fa fa-clock-o"></i>20 minutos atrás</span>
									<p class="comment-body">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- fim Section -->
