		<!-- Home Slider -->
		<section id="rst-home-mainslider">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="rst-mainslider owl-carousel">
              <% if @banner_home.present? %>
                <% @banner_home.each do |ad| %>
                  <div class="rst-mainslide photobox-800x640">
                    <%= link_to ad do %>
                      <%= image_tag ad.avatar.url(:large) if ad.avatar.present? %>
                    <% end %>

    								<div class="rst-boxinfo">
                      <%= link_to ad.announcer do %>
                        <span><%= ad.announcer.fantasy_name %></span>
                      <% end %>
    									<p><a href=""><%= ad.description %></a></p>
    								</div>
    							</div>
                <% end %>
              <% else %>
                <div class="rst-mainslide photobox-800x640">
                  <%= link_to new_contact_path do %>
                    <%= image_tag ('anun_800_640.jpg') %>
                  <% end %>
                  <div class="rst-boxinfo">
                    <%= link_to new_contact_path do %>
                      <span>Quer anunciar? Clique aqui!</span>
                    <% end %>
                  </div>
                </div>
              <% end %>
						</div>
						<!-- fim slider -->
						<div class="rst-mainslider-posts">
              <% if @principal_home.present? %>
                 <% @principal_home.each do |ad| %>
    							 <div class="rst-posttype photobox-370x320">
                     <%= link_to ad do %>
                        <%=  image_tag ad.avatar.url(:large) if ad.avatar.present? %>
                     <% end %>
    								<div class="rst-boxinfo">
                      <%= link_to ad.announcer do %>
    									  <span><%= ad.announcer.fantasy_name %></span>
                      <% end %>
    									<p><a href=""><%= ad.description %></a></p>
    								</div>
    							 </div>
                 <% end %>
                 <% if @principal_home.size < 2 %>
                   <%
                     $i = 2 - @principal_home.size
                   %>
                   <% while $i > 0  do %>
                     <div class="rst-posttype photobox-370x320">
                       <%= link_to new_contact_path do %>
                          <%=  image_tag ('anun_370_320.jpg') %>
                       <% end %>
                      <div class="rst-boxinfo">
                        <%= link_to new_contact_path do %>
                          <span>Quer anunciar nessa área?</span>
                        <% end %>
                      </div>
                     </div>
                     <% $i -=1 %>
                   <% end %>
                 <% end %>
              <% else %>
                <%
                  $i = 2
                %>
                <% while $i > 0  do %>
                  <div class="rst-posttype photobox-370x320">
                    <%= link_to new_contact_path do %>
                       <%=  image_tag ('anun_370_320.jpg') %>
                    <% end %>
                   <div class="rst-boxinfo">
                     <%= link_to new_contact_path do %>
                       <span>Quer anunciar nessa área?</span>
                     <% end %>
                   </div>
                  </div>
                  <% $i -=1 %>
                <% end %>
              <% end %>
							 </div>
							 <div class="clear"></div>
						</div>
						<!-- fim anúncios menores -->
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</section>
		<!-- fim Main Slider -->
    <%= render partial: 'pages/shareds/versicles' %>
		<!-- Section last pub -->
		<section id="rst-popular">
			<div class="container">
				<div class="row">
					<div class="rst-section-title">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<h4>Últimas Publicações</h4>
								</div>
							</div>
						</div>
					</div>
          <% if @last_publications.present? %>
            <% @last_publications.each do |publication| %>
    					<article class="col-sm-3 col-xs-6">
    						<div class="rst-postpic photobox-270x190">
                  <%= link_to publication do %>
                    <%=  image_tag publication.image.url if publication.image.present? %>
                  <% end %>
                  <a class="rst-postpic-cat"><span><%= publication.pub_category %></span></a>
    						</div>
    						<div class="rst-postinfo">
    							<h6>
                    <%= link_to publication do %>
                      <%= publication.title %>
                    <% end %>
                  </h6>
    							<time><i class="fa fa-clock-o"></i><%= publication.created_at %></time>
    							<p><%= publication.description %></p>
    						</div>
    					</article>
            <% end %>
          <% else %>
            <p>
              Ainda não existem publicações cadastradas!
            </p>
          <% end %>
				</div>
			</div>
		</section>
		<!-- fim Section last pub -->

		<!-- Section cat pub -->
		<section id="rst-life">
			<div class="container">
				<div class="row">
					<div class="rst-section-title rst-section-title-box">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<h4>Públicações</h4>
									<div class="rst-section-title-short">
										<a href="#"><span>Ver todos</span></a>
										<div class="rst-shortmenu">
											<a href="#"><i class="fa fa-bars"></i></a>
											<ul>
                        <% @categories.each do |category| %>
  												<li>
                            <%= link_to category.name, ads_categories_path(category) %>
                          </li>
                        <% end %>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
          <% if @publications_category.present? %>
  					<article class="col-sm-6 rst-leftpost">
  						<div class="rst-specpost photobox-570x334">
                <%= link_to @publications_category.first do %>
                  <%= image_tag @publications_category.first.image.url %>
                <% end %>
  						</div>
  						<div class="rst-postinfo">
  							<h6>
                  <%= link_to @publications_category.first do %>
                    <% @publications_category.first.title %>
                  <% end %>
                </h6>
  							<time><i class="fa fa-clock-o"></i><%= @publications_category.first.created_at %></time>
  							<p><%= @publications_category.first.description %></p>
  						</div>
  					</article>
  					<div class="col-sm-6 rst-rightpost">
              <% @publications_category.first(4).each do |publication| %>
                <article>
    							<div class="rst-postpic photobox-140x106">
                    <%= link_to publication do %>
                      <%=  image_tag publication.image.url if publication.image.present? %>
                    <% end %>
    							</div>
    							<div class="rst-postinfo">
    								<h6>
                      <%= link_to publication do %>
                        <%= publication.title %>
                      <% end %>
                    </h6>
    								<time><i class="fa fa-clock-o"></i><%= publication.created_at %></time>
    								<p><%= publication.description %></p>
    							</div>
    						</article>
              <% end %>
  					</div>
          <% else %>
            <p>Ainda não existem publicações cadastradas!</p>
          <% end %>
				</div>
			</div>
		</section>
		<!-- fim section cat pub -->
    <%= render partial: 'pages/shareds/versicles' %>
		<!-- Section news -->
		<section id="rst-newsandhot">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<div class="rst-section-title">
							<h4>Anúncios</h4>
						</div>
						<div class="rst-newsandhot-post">
							<div class="rst-newsandhot-post-content">
								<article>
									<div class="row">
                    <% if @normal_home.present? %>
                      <% @normal_home.each do |ad| %>
                        <div class="rst-postpic col-sm-6">
                          <div class="photobox-370x278">
                            <%= link_to ad do %>
                              <%=  image_tag ad.avatar.url(:large) if ad.avatar.present? %></a>
                            <% end %>
                            <%= link_to ad.announcer, class: 'rst-postpic-cat' do %>
                              <span><%= ad.announcer.fantasy_name %></span>
                            <% end %>
                          </div>
    										</div>
                      <% end %>
                      <% if @normal_home.size < 8 %>
                        <%
                          $i = 8 - @normal_home.size
                        %>
                        <% while $i > 0  do %>
                          <div class="rst-postpic col-sm-6">
                            <div class="photobox-370x278">
                              <%= link_to new_contact_path do %>
                                <%=  image_tag ('anun_370_278.jpg') %></a>
                              <% end %>
                              <%= link_to new_contact_path, class: 'rst-postpic-cat' do %>
                                <span>Clique aqui!</span>
                              <% end %>
                            </div>
      										</div>
                          <% $i -=1 %>
                        <% end %>

                      <% end %>
                    <% else %>
                      <%
                        $i = 8
                      %>
                      <% while $i > 0  do %>
                        <div class="rst-postpic col-sm-6">
                          <div class="photobox-370x278">
                            <%= link_to new_contact_path do %>
                              <%=  image_tag ('anun_370_278.jpg') %></a>
                            <% end %>
                            <%= link_to new_contact_path, class: 'rst-postpic-cat' do %>
                              <span>Clique aqui!</span>
                            <% end %>
                          </div>
                        </div>
                        <% $i -=1 %>
                      <% end %>
                    <% end %>
									</div>
								</article>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<aside class="widget widget_popular">
							<h3>Notícias</h3>
              <% if @news.present? %>
                <div class="rst-hotnews owl-carousel">
  								<ul>
                    <% @news.each do |news| %>
    									<li>
                        <article>
                          <div class="rst-postpic photobox-100x76">
                            <%= link_to news do %>
                              <%= image_tag news.image.url(:thumb) %>
                            <% end %>
                          </div>
                          <div class="rst-postinfo">
                            <p>
                              <%= link_to news do %>
                                <%= news.description %>
                              <% end %>
                            </p>
                            <time><i class="fa fa-clock-o"></i><%= news.created_at %></time>
                          </div>
                        </article>
    									</li>
                    <% end %>
  								</ul>
  							</div>
              <% else %>
                <p>
                  Ainda não existem notícias cadastradas!
                </p>
              <% end %>
						</aside>
						<!-- fim noticias e anuncios sec -->

						<aside class="widget widget_social">
							<h3>Social</h3>
							<a href="#" target="_blank">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="#" target="_blank">
								<i class="fa fa-twitter"></i>
							</a>
							<a href="#" target="_blank">
								<i class="fa fa-google-plus"></i>
							</a>
						</aside>
						<!-- end widget social -->

						<aside class="widget widget_adv">
							<h3>Nossos Colunistas</h3>
              <% if @columnists.present? %>
                  <% @columnists.first(4).each do |columnist|%>
                    <%= link_to columnist, class: 'photobox-170x170' do %>
                      <%= if columnist.avatar.present?
                            image_tag columnist.avatar.url(:large)
                          else
                            image_tag ('user.png')
                          end
                        %>
                    <% end %>
                <% end %>
              <% else %>
                  <p>
                    Ainda não existem colunistas cadastrados
                  </p>
              <% end %>
							<div class="clear"></div>
						</aside>
					</div>
				</div>
			</div>
		</section>
		<!-- End Section News and Hot -->
    <%= render partial: 'pages/shareds/versicles' %>
		<!-- Section curr e vagas -->
		<section id="rst-latestcomments">
			<div class="container">
        <!-- vagas -->
				<div class="row">
					<div class="col-xs-12">
						<div class="rst-section-title rst-section-title-box">
							<h4>Vagas de Emprego</h4>
						</div> <!-- fim section title -->
            <% if @vacancies.present? %>
              <div class="row commentlist owl-carousel">
                <% @vacancies.each do |vacancy| %>
    							<div class="col-sm-12 comment">
                    <div class="comment-container">
                      <%= link_to vacancy do %>
                        <div class="comment-avatar">
                          <%= image_tag vacancy.announcer.avatar.url if vacancy.announcer.avatar.present? %>
                        </div>
                      <% end %>
                      <div class="comment-data">
                        <div class="comment-header">
                          <%= link_to vacancy.name, vacancy, class: "comment-author" %>
                          <div class="rate-info">
                            <time class="comment-date">
                              <i class="fa fa-clock-o"></i><%= vacancy.created_at %>
                            </time>
                          </div>
                        </div>
                        <div class="comment-body">
                          <p>
                            Empresa: <%= vacancy.announcer.fantasy_name || "Confidencial" %>
                          </p>
                        </div>
                      </div>
                    </div>
    							</div>
                <% end %>
              </div>
            <% else %>
              <div class='alert'>
                  Ainda não existem vagas de emprego cadastradas
              </div>
            <% end %>
					</div>
				</div>
        <!-- fim vagas -->
        <!-- Currículos -->
        <div class="row">
					<div class="col-xs-12">
						<div class="rst-section-title rst-section-title-box">
							<h4>Currículos</h4>
						</div> <!-- end section title -->
						<div class="row commentlist owl-carousel">
              <% if @curriculums.present? %>
                <% @curriculums.each do |curriculum| %>
                  <div class="col-sm-12 comment">
    								<div class="comment-avatar photobox-100x100">
                      <%=
                          if curriculum.subscriber.avatar.present?
                            image_tag curriculum.subscriber.avatar.url(:medium)
                          else
                            image_tag ('user.png')
                          end
                      %>
    								</div>
    								<div class="comment-data">
                      <%= link_to curriculum, class: 'comment-author' do %>
                        <%= curriculum.subscriber.user.profile.name || "Usuário anônimo" %>
                      <% end %>
    									<span class="comment-time"><i class="fa fa-clock-o"></i><%= curriculum.created_at %></span>
    									<p class="comment-body"><%= truncate(curriculum.description, length: 150)  %></p>
                      <%= link_to 'Veja mais', curriculum %>
    								</div>
    							</div>
                <% end %>
              <% else %>
                <p>
                  Ainda não existem Currículos cadastrados
                </p>
              <% end %>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- fim Section -->
