<%= form_for(contact) do |f| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.text_field :name, placeholder: 'Nome', class: 'rst-pageinput' %>
        <p class="help-block text-danger"></p>
      </div>
      <div class="form-group">
        <%= f.text_field :email, placeholder: 'Email', class: 'rst-pageinput' %>
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.text_field :company, placeholder: 'Empresa', class: 'rst-pageinput' %>
        <p class="help-block text-danger"></p>
      </div>
      <div class="form-group">
        <%= f.text_field :phone, placeholder: 'Telefone', class: 'rst-pageinput' %>
        <p class="help-block text-danger"></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <%= f.text_area :message, placeholder: 'Digite sua mensagem', class: 'rst-pageinput' %>
        <p class="help-block text-danger"></p>
        <div id="success"></div>
      </div>
      <%= f.submit "ENVIAR", class: 'rst-pagebutton' %>
    </div>
  </div>
<% end %>
