
  <div class="rst-setting">
    <span><%= f.label :name, "Nome" %></span>
    <%= f.text_field :name, value: profile.name, class: 'rst-pageinput' %>
  </div>
  <div class="rst-setting">
    <span><%= f.label :cpf, "CPF" %></span>
    <%= f.text_field :cpf, value: profile.cpf, class: 'rst-pageinput' %>
  </div>
  <div class="rst-setting">
    <span><%= f.label :street, "Rua" %></span>
    <%= f.text_field :street, value: profile.street, class: 'rst-pageinput' %>
  </div>
  <div class="rst-setting">
    <span><%= f.label :street_number, "Número" %></span>
    <%= f.text_field :street_number, value: profile.street_number, class: 'rst-pageinput' %>
  </div>
  <div class="rst-setting">
    <span><%= f.label :complement, "Complemento" %></span>
    <%= f.text_field :complement, value: profile.complement, class: 'rst-pageinput' %>
  </div>
  <div class="rst-setting">
    <span><%= f.label :neighborhood, "Bairro" %></span>
    <%= f.text_field :neighborhood, value: profile.neighborhood, class: 'rst-pageinput' %>
  </div>
  <div class="rst-setting">
    <span><%= f.label :state, "Estado" %></span>
    <%= f.select(:state_id, states_for_select(profile.state_id), {}, :class => 'rst-pageinput') %>
  </div>
  <div class="rst-setting">
    <span><%= f.label :city, "Cidade" %></span>
    <%= f.grouped_collection_select(
          :city_id,
          State.all.includes(:cities),
          :cities,
          :name,
          :id,
          :name,
          {selected: (profile.city.id if profile.city.present?)},
          class: 'rst-pageinput',
          include_blank: true
        )
    %>
  </div>
  <div class="rst-setting">
    <span><%= f.label :zip_code, "CEP" %></span>
    <%= f.text_field :zip_code, value: profile.zip_code, class: 'rst-pageinput' %>
    <%= hidden_field_tag :id, profile.id %>
  </div>
<script type="text/javascript">
  jQuery(function($){
   $('#personal_profile_zip_code').inputmask('99999-999', {greedy: false, clearIncomplete: true});
  });
</script>
<%= javascript_include_tag 'populate_city_select' %>
