<!-- Page Breadcrumb -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="rst-breadcrumb">
        <a href="#"><span>Home</span></a>
        <span>></span>
        <a href="#"><span>Perfil</span></a>
      </div>
    </div>
  </div>
</div>
<!-- End Page Breadcrumb -->

<!-- Section Register -->
<section id="rst-account-page">
  <div class="container">
    <div class="row">
      <%= form_for personal_profile, url: personal_profiles_update_path do |f| %>
        <div class="col-sm-8">
          <div class="rst-section-title rst-section-title-box">
            <h4>Dados do Perfil</h4>
          </div> <!-- end section title -->
          <div class="rst-accsetting">
            <div class="rst-account-setting">
              <div class="rst-setting">
                <span><%= f.label :name, "Nome" %></span>
                <%= f.text_field :name, value: @personal_profile.name, class: 'rst-pageinput' %>
              </div>
              <div class="rst-setting">
                <span><%= f.label :street, "Rua" %></span>
                <%= f.text_field :street, value: @personal_profile.street, class: 'rst-pageinput' %>
              </div>
              <div class="rst-setting">
                <span><%= f.label :complement, "Complemento" %></span>
                <%= f.text_field :complement, value: @personal_profile.complement, class: 'rst-pageinput' %>
              </div>
              <div class="rst-setting">
                <span><%= f.label :neighborhood, "Bairro" %></span>
                <%= f.text_field :neighborhood, value: @personal_profile.neighborhood, class: 'rst-pageinput' %>
              </div>
              <div class="rst-setting">
                <span><%= f.label :state, "Estado" %></span>
                <%= f.select(:state, [states_for_select], {selected: @personal_profile.state_id}, { :class => 'rst-pageinput' }) %>
              </div>
              <div class="rst-setting">
                <span><%= f.label :city, "Cidade" %></span>
                <%= f.select(:city, [cities_for_select], {selected: @personal_profile.city_id}, { :class => 'rst-pageinput' }) %>
              </div>
              <div class="rst-setting">
                <span><%= f.label :zip_code, "CEP" %></span>
                <%= f.text_field :zip_code, value: @personal_profile.zip_code, class: 'rst-pageinput' %>
                <%= hidden_field_tag :id, @personal_profile.id %>
              </div>
              <%= f.submit "SALVAR ALTERAÇÕES", class: 'rst-pagebutton' %>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="rst-section-title rst-section-title-box">
            <h4>Ofertas</h4>
          </div> <!-- end section title -->
          <aside class="widget widget_adv">
            <a href="#"><%=  image_tag('ad01.png') %></a>
            <a href="#"><%=  image_tag('ad01.png') %></a>
            <a href="#"><%=  image_tag('ad01.png') %></a>
            <a href="#"><%=  image_tag('ad01.png') %></a>
            <a href="#"><%=  image_tag('ad01.png') %></a>
            <a href="#"><%=  image_tag('ad01.png') %></a>
            <div class="clear"></div>
          </aside>
      <% end %>
    </div>
  </div>
</section>
<!-- End Section Register -->
