<!--- Header -->
<header>
  <div class="rst-header-socialbar">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <nav class="rst-socialbar-menu">
            <ul>
              <li><%= link_to "CONTATO", new_contact_path %></li>

              <% if user_signed_in? && current_user.unactive?%>
                <li class="blue-bg sign-buttons"><%= link_to 'ASSINE JÁ', new_transaction_path(u: current_user.id)%></li>
              <% else %>
                <li class="blue-bg sign-buttons"><%= link_to 'CADASTRE-SE', new_subscriber_path %></li>
              <% end %>

              <li></li>
            </ul>
          </nav>
          <nav class="rst-socialbar-social rst-account-socialbar">
            <ul>
              <li>
                <form action="#" class="rst-search">
                  <input type="text" value="Busca" onblur="if (this.value == '') {this.value = 'Busca';}" onclick=" if (this.value == 'Busca') {this.value = '';} " name="s">
                  <button class="sb"><i class="fa fa-search"></i></button>
                </form>
              </li>
              <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
              <li>
                <%= session_button %>
                <%= plus_post_button %>
              </li>
            </ul>
            <%= add_post_button %>
          </nav>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- fim social bar -->
  <!-- Menu bar -->
  <div class="rst-header-menu">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 menu-row">
          <div class="rst-header-menu-content">
            <%= link_to root_path, class: 'rst-header-logo' do %>
              <%= image_tag('header-logo.png') %>
            <% end %>
            <div id="rst-weather" class="rst-weather"></div>
            <button class="rst-menu-trigger">
              <span>Toggle navigation</span>
            </button>
            <% if @categories.present? %>
              <ul>
                <% @categories.each do |category| %>
                  <li>
                    <%= link_to category.name, category_path(category) %>
                  </li>
                <% end %>
              </ul>
            <% else %>
            <ul>
                <li>
                    <a>Ainda não existem categorias cadastradas</a>
                </li>
            </ul>

            <% end %>
            <div class="clear"></div>
          </div>
        </div>

      </div>
      <%= show_notices(notice) %>
    </div>
  </div>
</header>
<!--- fim Header -->
