<head>
  <!-- Basic
  ================================================== -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tudo Aqui Góspel - Um mundo de oportunidades</title>
  <meta name="description" content="Tudo Aqui Góspel - Um mundo de oportunidades, anúncios, cupons de desconto, vagas de emprego, cúrriculos e etc.">
  <meta name="keywords" content="oportunidades, anúncios, cupons de desconto, vagas de emprego, cúrriculos">
  <meta name="author" content="Vortex Developer">

  <!-- Favicons
  ================================================== -->

  <%= favicon_link_tag('apple-touch-icon.png') %>
  <%= favicon_link_tag('apple-touch-icon-72x72.png') %>
  <%= favicon_link_tag('apple-touch-icon-114x114.png') %>

  <!-- Bootstrap
  ================================================== -->

  <%= stylesheet_link_tag('bootstrap')%>
  <%= stylesheet_link_tag('bootstrap-tagsinput')%>
  <%= stylesheet_link_tag('jasny-bootstrap.min')%>
  <link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.2.0/css/font-awesome.css">

  <!-- Animate
    ================================================== -->
  <%= stylesheet_link_tag('effect2')%>
  <%= stylesheet_link_tag('animate')%>

  <!-- Add fancyBox CSS files -->
  <%= stylesheet_link_tag('fancybox/jquery.fancybox')%>

  <!-- Owl Slider CSS -->
  <%= stylesheet_link_tag('owl.carousel')%>
  <%= stylesheet_link_tag('owl.theme')%>
  <%= stylesheet_link_tag('owl.transitions')%>

  <!-- Custom Css
  ================================================== -->
  <%= stylesheet_link_tag('rs-wp-v1.2')%>
  <%= stylesheet_link_tag('jquery.rs.selectbox')%>
  <%= stylesheet_link_tag('style')%>
  <%= stylesheet_link_tag('responsive')%>

 <!-- Custom Fonts
  ================================================== -->
  <link rel="stylesheet" type="text/css" href="../fonts/stylesheet.css">

  <!-- Google Fonts
  ================================================== -->
<link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

</head>
