<div class="rst-accsetoption">
  <a class="rst-accsetting-name" href="#">
    <%= show_image_thumb(@columnist, @subscriber, @announcer, @administrator) %>
    <%= current_user.email %><i class="fa fa-caret-down"></i></a>
  <div>
    <ul>
      <li><%= link_to "Conta", edit_user_registration_path %></li>
      <%= show_admin %>
      <%= show_profile_type %>
      <%= show_columnist_page %>
      <li><%= link_to "Perfil", personal_profiles_edit_path %></li>
      <%= curriculum_button %>
      <%= publications_button %>
      <li><%= button_to "Sair", destroy_user_session_path, method: :delete, class: 'rst-account-socialbar-button' %></li>
    </ul>
  </div>
</div>
