<div class="rst-accsetoption">
  <a class="rst-accsetting-name" href="#">
    <%= show_image_thumb(@columnist, @subscriber) %>
    <%= current_user.email %><i class="fa fa-caret-down"></i></a>
  <div>
    <ul>
      <%= show_admin %>
      <%= show_profile_type %>
      <li><%= link_to "Perfil", personal_profiles_edit_path %></li>
      <li><%= button_to "Sair", destroy_user_session_path, method: :delete, class: 'rst-account-socialbar-button' %></li>
    </ul>
  </div>
</div>
