
<%= form_for user, :html => { :multipart => true }, :url => announcers_create_path(user), class: 'form-package' do |u| %>
    <%= fields_for personal_profile do |profile| %>
      <%= fields_for announcer do |a| %>
        <div class="rst-section-title rst-section-title-box">
          <h4>Cadastro de Anunciante</h4>
        </div> <!-- end section title -->
        <% if flash[:new_user_errors].present? %>
          <div id="custom_error_explanation">
            <h3>Por favor, corrija os seguintes erros</h3>

            <ul>
            <%= flash[:new_user_errors].html_safe %>
            </ul>
          </div>
        <% end %>
        <div class="rst-accsetting">
          <div class="col-sm-6">
              <% if announcer.avatar.present? %>
                <%= image_tag announcer.avatar.url(:medium) %>
              <% else %>
                <img src="../images/user.png" alt="" />
              <% end %>
              <input id="input-avatar" class="rst-pagebutton" type="submit" value="INSERIR LOGO"/>
              <%= a.file_field :avatar, class: 'image-button', id: 'image-button-avatar' %>
          </div>
          <div class="col-sm-6">
              <% if announcer.banner.present? %>
                <%= image_tag announcer.banner.url(:thumb) %>
              <% else %>
                <img src="../images/banner.png" alt="" />
              <% end %>
              <input id="input-banner" class="rst-pagebutton" type="submit" value="INSERIR BANNER"/>
              <%= a.file_field :banner, class: 'image-button', id: 'image-button-banner' %>
          </div>
          <div class="col-sm-6">
            <div class="rst-setting">
              <span><%= u.label :email, "Email" %></span>
              <%= u.email_field :email, value: user.email, autofocus: true, class: 'rst-pageinput', required: true %>
              <%= hidden_field_tag "roles[]", 2, class: 'rst-pageinput'%>
            </div>
            <div class="rst-setting">
              <span><%= u.label :password, "Senha" %></span>
              <%= u.password_field :password, value: user.password, autocomplete: "off", class: 'rst-pageinput', required: true %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> caracteres no mínimo)</em>
              <% end %><br />
            </div>
            <div class="rst-setting">
              <span><%= u.label :password_confirmation, "Confirmação de senha" %></span>
              <%= u.password_field :password_confirmation, value: user.password_confirmation, autocomplete: "off", class: 'rst-pageinput', required: true %>
            </div>
            <div class="rst-setting">
              <label for="ative">Ativar?</label><br />
              <label>
                <%= u.radio_button :active, 'active', checked: user.active? %>
                <%= u.label :active, "Ativo" %> <br>
                <%= u.radio_button :active, 'unactive', checked: user.unactive? %>
                <%= u.label :active, "Inativo" %>
              </label>
            </div>
            <div class="rst-setting">
              <span><%= profile.label :name, "Nome de usuário" %></span>
              <%= profile.text_field :name, value: personal_profile.name, class: 'rst-pageinput', required: true %>
            </div>
            <div class="rst-setting">
              <span><%= a.label :contact_name, "Nome do contato" %></span>
              <%= a.text_field :contact_name, value: announcer.contact_name, class: 'rst-pageinput', required: true %>
            </div>
            <div class="rst-setting">
              <span><%= a.label :email, "Email do contato" %></span>
              <%= a.text_field :email, value: announcer.email, class: 'rst-pageinput', required: true %>
            </div>
          </div>
          <div class="col-sm-6">

            <div class="rst-setting">
              <span><%= profile.label :street, "Rua" %></span>
              <%= profile.text_field :street, value: personal_profile.street, class: 'rst-pageinput', required: true %>
            </div>
            <div class="rst-setting">
              <span><%= profile.label :complement, "Complemento" %></span>
              <%= profile.text_field :complement, value: personal_profile.complement, class: 'rst-pageinput', required: true %>
            </div>
            <div class="rst-setting">
              <span><%= profile.label :neighborhood, "Bairro" %></span>
              <%= profile.text_field :neighborhood, value: personal_profile.neighborhood, class: 'rst-pageinput', required: true %>
            </div>
            <div class="rst-setting">
              <span><%= profile.label :state, "Estado" %></span>
              <%= profile.select(:state_id, [states_for_select], {selected: personal_profile.state_id}, { :class => 'rst-pageinput', required: true }) %>
            </div>
            <div class="rst-setting">
              <span><%= profile.label :city, "Cidade" %></span>
              <%= profile.select(:city_id, [cities_for_select], {selected: personal_profile.city_id}, { :class => 'rst-pageinput', required: true }) %>
            </div>
            <div class="rst-setting">
              <span><%= profile.label :zip_code, "CEP" %></span>
              <%= profile.text_field :zip_code, value: personal_profile.zip_code, class: 'rst-pageinput', required: true %>
              <%= hidden_field_tag :id, personal_profile.id %>
            </div>
            <div class="rst-setting">
              <span><%= a.label :ad_plan_id, "Plano de Anunciante" %></span>
              <%= a.select(:ad_plan_id, plans_for_select(announcer.ad_plan_id), {}, { :class => 'rst-pageinput', required: true }) %>
            </div>
          </div>
          <div class="col-sm-6">
              <div class="rst-setting">
                <span><%= a.label :name, "Razão Social" %></span>
                <%= a.text_field :name, value: announcer.name, class: 'rst-pageinput', required: true %>
              </div>
              <div class="rst-setting">
                <span><%= a.label :fantasy_name, "Nome fantasia" %></span>
                <%= a.text_field :fantasy_name, value: announcer.fantasy_name, class: 'rst-pageinput', required: true %>
              </div>
              <div class="rst-setting">
                <label>
                  <%= a.radio_button :doc_type, 'cnpj', checked: (announcer.doc_type == 'cnpj') %>
                  <%= a.label :doc_type, "CNPJ" %> <br>
                  <%= a.radio_button :doc_type, 'cpf', checked: (announcer.doc_type == 'cpf') %>
                  <%= a.label :doc_type, "CPF" %>
                </label>
              </div>
              <div class="rst-setting">
                <span><%= a.label :doc, "Número do documento" %></span>
                <%= a.text_field :doc, value: announcer.doc, class: 'rst-pageinput', required: true %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="col-xs-12">
      <%= u.submit "Enviar", class: 'rst-pagebutton' %>
    </div>
<% end %>
