<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="rst-breadcrumb">
        <a href="#"><span>Home</span></a>
        <span>></span>
        <a href="#"><span>Empresa</span></a>
      </div>
    </div>
  </div>
</div>

<%= form_for(@announcer) do |f| %>
  <section id="rst-catcontent-author">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="rst-section-title rst-section-title-box">
            <%= f.submit "SALVAR ALTERAÇÕES", class: 'rst-pagebutton banner-input' %>
            <h4><%= f.text_field :fantasy_name, value: @announcer.fantasy_name, class: 'rst-announcer-input' %></h4>
          </div>
          <div class="rst-author-contact">
            <% if @announcer.avatar.present? %>
              <%= image_tag @announcer.avatar.url(:medium) %>
            <% else %>
              <img src="../images/user.png" alt="" />
            <% end %>
            <div class="rst-author-contactinfo">
              <p>
                <a href="tel:+48 122 33 66"><i class="fa fa-mobile"></i> <span>+48 122 33 66</span></a>
                <a href=""><i class="fa fa-paper-plane"></i> <span><%= f.text_field :email, value: @announcer.email, class: 'rst-announcer-input' %></span></a>
                <a href=""><span><i class="fa fa-location-arrow"></i><%= @personal_profile.street %>, <%= @personal_profile.neighborhood %>, <%= city_show(@personal_profile.city_id) %> - <%= state_show(@personal_profile.state_id) %></span></a>
              </p>
            </div>
          </div>
          <input id="input-avatar" class="rst-pagebutton" type="submit" value="ALTERAR LOGO"/>
          <%= f.file_field :avatar, class: 'image-button', id: 'image-button-avatar' %>
          <p class="rst-author-excerpt"><%= f.text_area :about_text, value: @announcer.about_text, class: 'text-area-announcer rst-announcer-input' %></p>
          <%= f.hidden_field :user, value: @announcer.user %>
        </div>
      </div>
    </div>
  </section>
  <%= render partial: 'announcers/edit/media_section_banner' %>
  <div class="container">
    <div class="margin-button">
      <input id="input-banner" class="rst-pagebutton" type="submit" value="ALTERAR BANNER"/>
      <%= f.file_field :banner, class: 'image-button', id: 'image-button-banner' %>
    </div>
  </div>

  <section id="rst-newsandhot">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="rst-section-title">
            <h4>Anúncios</h4>
          </div>
          <div class="rst-newsandhot-post">
            <div class="rst-newsandhot-post-content">
              <article>
                <div class="row">
                  <% @announcer.ads.each do |ad| %>
                    <div class="rst-postpic col-sm-4 rst-postpic-img">
                      <a href="#"><%=  image_tag ad.avatar.url %></a>
                      <a href="#" class="rst-postpic-cat"><span><%= ad.title %></span></a>
                    </div>
                  <% end %>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
      <%= render partial: 'announcers/edit/media_section_gallery' %>
    </div>
  </section>
  <section id="rst-latestcomments">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="rst-section-title rst-section-title-box">
            <h4>Vagas de emprego</h4>
          </div>
          <%= link_to 'Nova vaga', new_vacancy_path, class: 'rst-pagebutton announcer-buttons-new blue-bg' %>
          <div class="row commentlist owl-carousel">
            <% @announcer.vacancies.each do |vacancy| %>
              <div class="col-sm-12 comment">
                <div class="comment-avatar">
                  <%=  image_tag @announcer.avatar.url(:medium) %>
                </div>
                  <div class="comment-data">
                    <a href="#" class="comment-author"><%= @announcer.fantasy_name %></a>
                    <span class="comment-time"><i class="fa fa-clock-o"></i><%= vacancy.created_at %></span>
                    <p class="comment-body"><%= vacancy.name %></p>
                    <%= link_to vacancy, class: 'vacancy-actions green-bg' do %>
                      <i class="fa fa-eye"></i>
                    <% end %>
                    <%= link_to edit_vacancy_path(vacancy), class: 'vacancy-actions blue-bg' do %>
                      <i class="fa fa-pencil-square-o"></i>
                    <% end %>
                    <%= link_to vacancy, method: :delete, data: { confirm: 'Tem certeza que deseja excluir essa vaga?' }, class: 'vacancy-actions red-bg' do %>
                      <i class="fa fa-trash"></i>
                    <% end %>
                  </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
