
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="rst-breadcrumb">
        <a href="#"><span>Home</span></a>
        <span>></span>
        <a href="#"><span>Empresa</span></a>
      </div>
    </div>
  </div>
</div>


<%= form_for(@announcer) do |f| %>
  <section id="rst-catcontent-author">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="rst-section-title rst-section-title-box">
            <%= f.submit "SALVAR ALTERAÇÕES", class: 'rst-pagebutton banner-input blue-bg' %>
            <h4><%= f.text_field :fantasy_name, value: @announcer.fantasy_name, class: 'rst-announcer-input' %></h4>
          </div>
          <div class="rst-author-contact">
            <% if @announcer.avatar.present? %>
              <%= image_tag @announcer.avatar.url(:medium) %>
            <% else %>
              <img src="../images/user.png" alt="" />
            <% end %>
            <div class="rst-author-contactinfo">
              <p>
                <%= select_for_telephones(f) %>
                <%= show_edit_email(f) %>
                <%= show_location %>
                <%= show_average if @announcer.average('quality').present? %>
              </p>
            </div>
          </div>

          <!-- Logo Button -->
          <input id="input-avatar" class="rst-pagebutton blue-bg" type="submit" value="ALTERAR LOGO"/>
          <%= f.file_field :avatar, class: 'image-button', id: 'image-button-avatar' %>
          <!-- END -->

          <div class="rst-section-title rst-section-title-box">
            <h4>Sobre</h4>
          </div>
          <p class="rst-author-excerpt"><%= f.text_area :about_text, value: @announcer.about_text, class: 'text-area-announcer rst-announcer-input', placeholder: 'Descrição sobre a sua empresa' %></p>
          <%= f.hidden_field :user, value: @announcer.user %>
        </div>
      </div>
    </div>
  </section>
  <%= media_section_banner_edit(@announcer, f) %>
<% end %>
<!-- end form for announcer -->

  <%= render partial: 'announcers/edit/edit_ads_section' %>
  <%= media_section_gallery_edit(@announcer) %>
  <%= render partial: 'announcers/edit/edit_vacancies_section' %>
