<!-- Page Breadcrumb -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="rst-breadcrumb">
        <a href="#"><span>Home</span></a>
        <span>></span>
        <a href="#"><span>Cadastro de Anunciante</span></a>
      </div>
    </div>
  </div>
</div>
<!-- End Page Breadcrumb -->

<!-- Section Register -->
<section id="rst-register-page">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= form_for @user, :html => { :multipart => true }, :url => announcers_create_path(@user), class: 'form-package' do |user| %>
          <%= devise_error_messages! %>
            <%= fields_for @personal_profile do |profile| %>
              <%= fields_for @announcer do |announcer| %>
                <div class="rst-section-title rst-section-title-box">
                  <h4>Cadastro de Anunciante</h4>
                </div> <!-- end section title -->
                <div class="rst-accsetting">
                  <div class="col-sm-6">
                      <% if @announcer.avatar.present? %>
                        <%= image_tag @announcer.avatar.url(:medium) %>
                      <% else %>
                        <img src="../images/user.png" alt="" />
                      <% end %>
                      <input id="input-avatar" class="rst-pagebutton" type="submit" value="INSERIR LOGO"/>
                      <%= announcer.file_field :avatar, class: 'image-button', id: 'image-button-avatar' %>
                  </div>
                  <div class="col-sm-6">
                      <% if @announcer.banner.present? %>
                        <%= image_tag @announcer.banner.url(:thumb) %>
                      <% else %>
                        <img src="../images/banner.png" alt="" />
                      <% end %>
                      <input id="input-banner" class="rst-pagebutton" type="submit" value="INSERIR BANNER"/>
                      <%= announcer.file_field :banner, class: 'image-button', id: 'image-button-banner' %>
                  </div>
                  <div class="col-sm-6">
                    <div class="rst-setting">
                      <span><%= user.label :email, "Email" %></span>
                      <%= user.email_field :email, value: @user.email, autofocus: true, class: 'rst-pageinput' %>
                      <%= hidden_field_tag "roles[]", 2, class: 'rst-pageinput'%>
                    </div>
                    <div class="rst-setting">
                      <span><%= user.label :password, "Senha" %></span>
                      <%= user.password_field :password, value: @user.password, autocomplete: "off", class: 'rst-pageinput' %>
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> caracteres no mínimo)</em>
                      <% end %><br />
                    </div>
                    <div class="rst-setting">
                      <span><%= user.label :password_confirmation, "Confirmação de senha" %></span>
                      <%= user.password_field :password_confirmation, value: @user.password_confirmation, autocomplete: "off", class: 'rst-pageinput' %>
                    </div>
                    <div class="rst-setting">
                      <span><%= profile.label :name, "Nome de usuário" %></span>
                      <%= profile.text_field :name, value: @personal_profile.name, class: 'rst-pageinput' %>
                    </div>
                    <div class="rst-setting">
                      <span><%= announcer.label :contact_name, "Nome do contato" %></span>
                      <%= announcer.text_field :contact_name, value: @announcer.contact_name, class: 'rst-pageinput' %>
                    </div>
                    <div class="rst-setting">
                      <span><%= announcer.label :email, "Email do contato" %></span>
                      <%= announcer.text_field :email, value: @announcer.email, class: 'rst-pageinput' %>
                    </div>
                  </div>
                  <div class="col-sm-6">

                    <div class="rst-setting">
                      <span><%= profile.label :street, "Rua" %></span>
                      <%= profile.text_field :street, value: @personal_profile.street, class: 'rst-pageinput' %>
                    </div>
                    <div class="rst-setting">
                      <span><%= profile.label :complement, "Complemento" %></span>
                      <%= profile.text_field :complement, value: @personal_profile.complement, class: 'rst-pageinput' %>
                    </div>
                    <div class="rst-setting">
                      <span><%= profile.label :neighborhood, "Bairro" %></span>
                      <%= profile.text_field :neighborhood, value: @personal_profile.neighborhood, class: 'rst-pageinput' %>
                    </div>
                    <div class="rst-setting">
                      <span><%= profile.label :state, "Estado" %></span>
                      <%= profile.select(:state, [states_for_select], {selected: @personal_profile.state_id}, { :class => 'rst-pageinput' }) %>
                    </div>
                    <div class="rst-setting">
                      <span><%= profile.label :city, "Cidade" %></span>
                      <%= profile.select(:city, [cities_for_select], {selected: @personal_profile.city_id}, { :class => 'rst-pageinput' }) %>
                    </div>
                    <div class="rst-setting">
                      <span><%= profile.label :zip_code, "CEP" %></span>
                      <%= profile.text_field :zip_code, value: @personal_profile.zip_code, class: 'rst-pageinput' %>
                      <%= hidden_field_tag :id, @personal_profile.id %>
                    </div>
                    <div class="rst-setting">
                      <span><%= announcer.label :ad_plan_id, "Plano de Anunciante" %></span>
                      <%= announcer.select(:ad_plan_id, plans_for_select(@announcer.ad_plan_id), {}, { :class => 'rst-pageinput' }) %>
                    </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="rst-setting">
                        <span><%= announcer.label :name, "Razão Social" %></span>
                        <%= announcer.text_field :name, value: @announcer.name, class: 'rst-pageinput' %>
                      </div>
                      <div class="rst-setting">
                        <span><%= announcer.label :fantasy_name, "Nome fantasia" %></span>
                        <%= announcer.text_field :fantasy_name, value: @announcer.fantasy_name, class: 'rst-pageinput' %>
                      </div>
                      <div class="rst-setting">
                        <label>
                          <%= announcer.radio_button :doc_type, 'cnpj', checked: (@announcer.doc_type == 'cnpj') %>
                          <%= announcer.label :doc_type, "CNPJ" %> <br>
                          <%= announcer.radio_button :doc_type, 'cpf', checked: (@announcer.doc_type == 'cpf') %>
                          <%= announcer.label :doc_type, "CPF" %>
                        </label>
                      </div>
                      <div class="rst-setting">
                        <span><%= announcer.label :doc, "Número do documento" %></span>
                        <%= announcer.text_field :email, value: @announcer.doc, class: 'rst-pageinput' %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
            <div class="col-xs-12">
              <%= user.submit "Enviar", class: 'rst-pagebutton' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<!-- End Section Register -->
