<!-- Page Breadcrumb -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="rst-breadcrumb">
        <a href="#"><span>Home</span></a>
        <span>></span>
        <a href="#"><span>Empresa</span></a>
      </div>
    </div>
  </div>
</div>
<!-- End Page Breadcrumb -->

<!-- Category Page Content -->
<section id="rst-catcontent-author">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <!-- Author zone -->
        <div class="rst-section-title rst-section-title-box">
          <% if @announcer.user == current_user %>
            <%= link_to edit_announcer_path(@announcer) do %>
              <%= button_tag "Editar Página", class: 'rst-pagebutton banner-input blue-bg', style: 'margin: 0' %>
            <% end %>
          <% end %>
          <h4>
            <%= @announcer.fantasy_name %>
          </h4>
        </div>
        <div class="rst-contato-autor">
          <% if @announcer.avatar.present? %>
            <%= image_tag @announcer.avatar.url(:medium) %>
          <% else %>
            <img src="../images/user.png" alt="" />
          <% end %>
          <div class="rst-author-contactinfo">
            <p>
              <%= show_telephone if @announcer.user_main_phone.present? %>
              <%= show_email if @announcer.email.present? %>
              <%= show_location %>
              <%= show_average if @announcer.average('quality').present? %>
            </p>
          </div>
        </div>

        <div style='clear: both;'></div>
        <div class="rst-section-title rst-section-title-box" style='overfloww: hidden;'>
          <h4>Sobre</h4>
        </div>
        <p class="rst-author-excerpt">
          <% if @announcer.about_text.present? %>
            <%= @announcer.about_text %>
          <% else %>
            <div class="alert">
              A empresa não forneceu uma descrição
            </div>
          <% end %>
        </p>
        <!-- End zone -->
      </div>
    </div>
  </div>
</section>


<%= media_section_banner(@announcer) %>
<%= render partial: 'announcers/show/ads_section' if (@announcer.ads.present? || (current_user == @announcer.user)) %>
<%= media_section_gallery(@announcer) %>
<%= render partial: 'announcers/show/vacancies_section' if @announcer.vacancies.present? || (current_user == @announcer.user) %>
<%= render partial: 'announcers/show/evaluations_section' if @announcer.quality_rates.present? || (current_user == @announcer.user) %>
<%= render partial: 'announcers/show/rate_section' if current_user != @announcer.user %>



<!-- End Section Latest Comments -->
