<!-- Page Breadcrumb -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="rst-breadcrumb">
        <a href="#"><span>Home</span></a>
        <span>></span>
        <a href="#"><span>Empresa</span></a>
      </div>
    </div>
  </div>
</div>
<!-- End Page Breadcrumb -->

<!-- Category Page Content -->
<section id="rst-catcontent-author">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <!-- Author zone -->
        <div class="rst-section-title rst-section-title-box">
          <h4><%= @announcer.fantasy_name %></h4>
        </div>
        <div class="rst-author-contact">
          <% if @announcer.avatar.present? %>
            <%= image_tag @announcer.avatar.url(:medium) %>
          <% else %>
            <img src="../images/user.png" alt="" />
          <% end %>
          <div class="rst-author-contactinfo">
            <p>
              <a><i class="fa fa-mobile"></i> <span>+48 122 33 66</span></a>
              <a><i class="fa fa-paper-plane"></i> <span><%= @announcer.email %></span></a>
              <a><span><i class="fa fa-location-arrow"></i><%= @personal_profile.street %>, <%= @personal_profile.neighborhood %>, <%= city_show(@personal_profile.city_id) %> - <%= state_show(@personal_profile.state_id) %></span></a>
            </p>
          </div>
        </div>
        <p class="rst-author-excerpt"><%= @announcer.about_text %></p>
        <!-- End zone -->
      </div>
    </div>
  </div>
</section>
<%= media_section_banner(@announcer) %>
<!-- End Category Page Content -->
<section id="rst-newsandhot">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="rst-section-title">
          <h4>Anúncios</h4>
        </div>
        <div class="rst-newsandhot-post">
          <div class="rst-newsandhot-post-content">
            <article>
              <div class="row">
                <% @announcer.ads.each do |ad| %>
                  <div class="rst-postpic col-sm-4 rst-postpic-img">
                    <%= link_to ad do %>
                      <%=  image_tag ad.avatar.url %>
                    <% end %>
                    <%= link_to ad, class: 'rst-postpic-cat' do %>
                      <span><%= ad.title %></span>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <%= media_section_gallery(@announcer) %>
  </div>
</section>
<section id="rst-latestcomments">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="rst-section-title rst-section-title-box">
          <h4>Vagas de emprego</h4>
        </div> <!-- end section title -->
        <div class="row commentlist owl-carousel">
          <% @announcer.vacancies.each do |vacancy| %>
            <div class="col-sm-12 comment">
              <%= link_to vacancy do %>
                <div class="comment-avatar">
                  <%=  image_tag @announcer.avatar.url(:medium) %>
                </div>
              <% end %>
              <div class="comment-data">
                <%= link_to vacancy do %>
                  <%= @announcer.fantasy_name %>
                <% end %>
                <span class="comment-time"><i class="fa fa-clock-o"></i><%= vacancy.created_at %></span>
                <p class="comment-body"><%= vacancy.name %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Section Latest Comments -->
