<!-- Home Slider -->
<section id="rst-home-mainslider">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="rst-section-title rst-section-title-box">
          <h4><%= @page_title %></h4>
        </div>
        <div class="rst-mainslider owl-carousel">
          <% @ads_categories.each do |ad| %>
            <div class="rst-mainslide photobox-800x640">
              <%= link_to ad do %>
                <%= image_tag ad.avatar.url(:large) if ad.avatar.present? %>
              <% end %>
              <div class="rst-boxinfo">
                <%= link_to ad.announcer do %>
                  <span><%= ad.announcer.fantasy_name %></span>
                <% end %>
                <p><a href=""><%= ad.description %></a></p>
              </div>
            </div>
          <% end %>
        </div>
        <!-- fim slider -->
        <div class="rst-mainslider-posts">
           <% @ads_categories.each do |ad| %>
             <div class="rst-posttype photobox-370x320">
               <%= link_to ad do %>
                  <%=  image_tag ad.avatar.url(:large) if ad.avatar.present? %>
               <% end %>
              <div class="rst-boxinfo">
                <%= link_to ad.announcer do %>
                  <span><%= ad.announcer.fantasy_name %></span>
                <% end %>
                <p><a href=""><%= ad.description %></a></p>
              </div>
             </div>
           <% end %>
           </div>
           <div class="clear"></div>
        </div>
        <!-- fim anúncios menores -->
        <div class="clear"></div>
      </div>
    </div>
  </div>
</section>
<section id="rst-newsandhot">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="rst-section-title">
          <h4>Anúncios</h4>
        </div>
        <div class="rst-newsandhot-post">
          <div class="rst-newsandhot-post-content">
            <article>
              <div class="row">
                <% @ads_categories.each do |ad| %>
                  <div class="rst-postpic col-sm-6">
                    <div class="photobox-370x278">
                      <%= link_to ad do %>
                        <%=  image_tag ad.avatar.url(:large) if ad.avatar.present? %></a>
                      <% end %>
                      <%= link_to ad.announcer, class: 'rst-postpic-cat' do %>
                        <span><%= ad.announcer.fantasy_name %></span>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <aside class="widget widget_adv">
          <h3>Anuncios</h3>
          <% @ads_categories.each do |ad| %>
            <%= link_to ad, class: 'photobox-170x170' do %>
              <%= image_tag ad.avatar(:medium) %>
            <% end %>
          <% end %>
          <div class="clear"></div>
        </aside>
      </div>
    </div>
  </div>
</section>
