<div class="row">
  <div class="col-xs-12">
    <div class="rst-section-title">
      <h4>Galeria da Empresa</h4>
    </div>
    <div class="rst-newsandhot-post">
      <%= add_photo_button(@announcer) %>
      <div class="rst-newsandhot-post-content">
        <article>
          <div class="row">
            <% @announcer.photos.each do |photo| %>
            <div class="col-sm-3" id="photo_<%= photo.id %>">
              <div class="rst-postpic gallery photobox-270x190">
                <a><%=  image_tag photo.image.url %></a>
              </div>
              <%= link_to photo,
                method: :delete,
                data: { confirm: 'Tem certeza que deseja excluir essa foto?' },
                remote: true,
                id: "remove_photo_#{photo.id}" do %>
                <div class="gallery-actions red-bg">
                  <i class="fa fa-trash"></i>
                </div>
              <% end %>
            </div>
            <% content_for :js do%>
              $('#remove_photo_<%= photo.id %>').bind('ajax:success', function(){
                $('#photo_<%= photo.id %>').remove();
                }
              );
            <%end%>
            <% end %>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
