<!DOCTYPE html>
<html lang="pt-BR">
  <%= render partial: 'layouts/application/head' %>
  <body>
    <section id="wrapper" class="clearfix">
      <%= render partial: 'layouts/application/header' %>
      <%= yield %>
      <%= render partial: 'layouts/application/footer' %>
    </section>
    <%= render partial: 'layouts/application/scripts' %>
  </body>
</html>
