<!DOCTYPE html>
<html lang="pt-BR">
  <%= render partial: 'layouts/application/head' %>
  <body>
    <section id="wrapper" class="clearfix">

      <div id="Header">
        <%= render partial: 'layouts/application/header' %>
      </div>

      <div id="Content">
        <%= yield %>
      </div>

      <%= render partial: 'layouts/application/footer' %>
    </section>
    <%= render partial: 'layouts/application/scripts' %>
    <script type="text/javascript">
       <%= yield :js %>
    </script>
  </body>
</html>
